<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468835718917-4o7frri3ni2no48mrffer8tlesq3sjrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468835718917-4o7frri3ni2no48mrffer8tlesq3sjrf</string>
	<key>API_KEY</key>
	<string>AIzaSyBuQBnnYkwNrPnTiivMfXKBewzSuUPRqw0</string>
	<key>GCM_SENDER_ID</key>
	<string>468835718917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.art4muslim.zayed</string>
	<key>PROJECT_ID</key>
	<string>haraj-malek</string>
	<key>STORAGE_BUCKET</key>
	<string>haraj-malek.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468835718917:ios:e8896caea8ac53b8efc96c</string>
	<key>DATABASE_URL</key>
	<string>https://haraj-malek.firebaseio.com</string>
</dict>
</plist>